<h1>
  {{pageTitle}}        
  <div align="end">          
      <button mat-raised-button color="primary"
         [routerLink]="['/Employee','0','add']">                     
        NEW</button>                
  </div>
</h1>    
<table class="tableCss" *ngIf='employees && employees.length'>
  <thead>
      <tr>                              
        <th>Name</th>          
        <th>Address</th>
        <th>Salary</th>   
        <th>Detail</th>     
        <th>Edit</th>        
        <th>Delete</th>   
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">   
      <td>{{ emp.Name }} </td>        
      <td>{{emp.Address}}</td>       
      <td>{{emp.Salary | currency:'INR':'symbol':'1.2-2' }}</td>    
      <td>
            <a [routerLink]="['/Employee', emp.Id] " matTooltip="Detail">    
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/></svg>  
          </a>
      </td>
      
      <td><a [routerLink]="['/Employee', emp.Id,'edit']"  matTooltip="Edit">    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>    
        </a>
      </td>
      <td><a (click)="openDialog(emp.Id)" matTooltip="Delete" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
        </svg>
      </a></td>    
    </tr> 
  </tbody>
</table>
