<div class='card' *ngIf='department'>
    <div class='card-header'>
        <h1>
            Department Detail
        </h1>  
     
  <table  class="tableCss">
      <tr>
          <td class="tdStyle">  Id:</td> 
          <td> {{department.DeptId}}</td> 
        </tr> 
    <tr>
      <td class="tdStyle">  Name:</td> 
      <td> {{department.Name}}</td> 
    </tr> 
  </table>
  
    <button mat-raised-button color="primary" matTooltip="Back" (click)="onBack()">BACK</button>  
    <button mat-raised-button color="accent" matTooltip="Edit" [routerLink]="['/Department', department.DeptId,'edit']">          
      Edit
    </button>
  </div>
  </div>   
  