<h1> {{pageTitle}} </h1>  
<div class='card' *ngIf='department'>
    <div class='card-header'>
  <table  class="tableCss">
      <tr>
          <td class="tdStyle">  Id:</td> 
          <td> {{department.DeptId}}</td> 
        </tr> 
    <tr>
      <td class="tdStyle">  Name:</td> 
      <td> {{department.Name}}</td> 
    </tr> 
  </table>
  <button  [routerLink]="['/Department', department.DeptId,'edit']" class="btn btn-primary">Edit</button>  
  <a [routerLink]="['/Department']" class="btn btn-link">Back</a>  
  </div>
  </div>   
  